$s1: 0.25rem; // 4px
$s2: 0.5rem; // 8px
$s3: 0.75rem; // 12px
$s4: 1.25rem; // 20px
$s5: 2rem; // 32px
$s6: 3.25rem; // 52px
$s7: 5.25rem; // 84px
$s8: 8.5rem; // 136px
$s9: 13.75rem; // 220px
$s10: 22.25rem; // 356px
$s11: 36rem; // 576px
$s12: 58.25rem; // 932px
