@font-face {
  font-family: "Soehne Breit";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-buch.eot)
    format("embedded-opentype");
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-buch.eot#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/sohnebreit/soehne-breit-web-buch.woff2) format("woff2"),
    url(/assets/fonts/sohnebreit/soehne-breit-web-buch.woff) format("woff");
}

@font-face {
  font-family: "Soehne Breit";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.eot)
    format("embedded-opentype");
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.woff2) format("woff2"),
    url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.woff) format("woff");
}
