@tailwind base;
@layer base {
  :root {
    font-size: 16px;
    --colors-white: 255 255 255;
    --colors-white-alpha-0: 250, 250, 249, 0.0000;
    --colors-white-alpha-1: 250, 250, 249, 0.0100;
    --colors-white-alpha-2: 250, 250, 249, 0.0200;
    --colors-white-alpha-3: 250, 250, 249, 0.0300;
    --colors-white-alpha-4: 250, 250, 249, 0.0400;
    --colors-white-alpha-6: 250, 250, 249, 0.0600;
    --colors-white-alpha-11: 250, 250, 249, 0.1100;
    --colors-white-alpha-17: 250, 250, 249, 0.1700;
    --colors-white-alpha-20: 250, 250, 249, 0.2000;
    --colors-white-alpha-28: 250, 250, 249, 0.2800;
    --colors-white-alpha-46: 250, 250, 249, 0.4600;
    --colors-white-alpha-62: 250, 250, 249, 0.6200;
    --colors-white-alpha-71: 250, 250, 249, 0.7100;
    --colors-white-alpha-81: 250, 250, 249, 0.8100;
    --colors-white-alpha-90: 250, 250, 249, 0.9000;
    --colors-black-alpha-0: 28, 25, 23, 0.0000;
    --colors-black-alpha-1: 28, 25, 23, 0.0100;
    --colors-black-alpha-2: 28, 25, 23, 0.0200;
    --colors-black-alpha-3: 28, 25, 23, 0.0300;
    --colors-black-alpha-4: 28, 25, 23, 0.0400;
    --colors-black-alpha-6: 28, 25, 23, 0.0600;
    --colors-black-alpha-11: 28, 25, 23, 0.1100;
    --colors-black-alpha-17: 28, 25, 23, 0.1700;
    --colors-black-alpha-20: 28, 25, 23, 0.2000;
    --colors-black-alpha-28: 28, 25, 23, 0.2800;
    --colors-black-alpha-46: 28, 25, 23, 0.4600;
    --colors-black-alpha-62: 28, 25, 23, 0.6200;
    --colors-black-alpha-71: 28, 25, 23, 0.7100;
    --colors-black-alpha-81: 28, 25, 23, 0.8100;
    --colors-black-alpha-90: 28, 25, 23, 0.9000;
    --colors-neutral-50: 250 250 249;
    --colors-neutral-100: 245 245 244;
    --colors-neutral-150: 237 236 235;
    --colors-neutral-200: 231 229 228;
    --colors-neutral-300: 214 211 209;
    --colors-neutral-400: 168 162 158;
    --colors-neutral-500: 120 113 108;
    --colors-neutral-600: 87 83 78;
    --colors-neutral-650: 76 72 67;
    --colors-neutral-700: 68 64 60;
    --colors-neutral-800: 41 37 36;
    --colors-neutral-900: 28 25 23;
    --colors-neutral-950: 12 10 9;
    --colors-accent-50: 255 251 235;
    --colors-accent-100: 254 243 199;
    --colors-accent-200: 253 230 138;
    --colors-accent-300: 252 211 77;
    --colors-accent-400: 251 191 36;
    --colors-accent-500: 245 158 11;
    --colors-accent-600: 217 119 6;
    --colors-accent-650: 197 99 6;
    --colors-accent-700: 180 83 9;
    --colors-accent-800: 146 64 14;
    --colors-accent-900: 120 53 15;
    --colors-accent-950: 69 26 3;
    --colors-accent: var(--colors-accent-500);
    --colors-green-50: 247 254 231;
    --colors-green-100: 236 252 203;
    --colors-green-200: 217 249 157;
    --colors-green-300: 190 242 100;
    --colors-green-400: 163 230 53;
    --colors-green-500: 132 204 22;
    --colors-green-600: 101 163 13;
    --colors-green-650: 88 143 14;
    --colors-green-700: 77 124 15;
    --colors-green-800: 63 98 18;
    --colors-green-900: 54 83 20;
    --colors-green-950: 26 46 5;
    --colors-yellow-50: 254 252 232;
    --colors-yellow-100: 254 249 195;
    --colors-yellow-200: 254 240 138;
    --colors-yellow-300: 253 224 71;
    --colors-yellow-400: 250 204 21;
    --colors-yellow-500: 234 179 8;
    --colors-yellow-600: 202 138 4;
    --colors-yellow-700: 161 98 7;
    --colors-yellow-800: 133 77 14;
    --colors-yellow-900: 113 63 18;
    --colors-yellow-950: 66 32 6;
    --colors-red-50: 254 242 242;
    --colors-red-100: 254 226 226;
    --colors-red-200: 254 202 202;
    --colors-red-300: 252 165 165;
    --colors-red-400: 248 113 113;
    --colors-red-500: 239 68 68;
    --colors-red-600: 220 38 38;
    --colors-red-700: 185 28 28;
    --colors-red-800: 153 27 27;
    --colors-red-900: 127 29 29;
    --colors-red-950: 69 10 10;
    --spacing-0: calc(0.00/16 * 1rem);
    --spacing-1: 0.125rem;
    --spacing-2: 0.25rem;
    --spacing-3: 0.375rem;
    --spacing-4: 0.5rem;
    --spacing-5: 0.625rem;
    --spacing-6: 0.75rem;
    --spacing-7: 0.875rem;
    --spacing-8: 1rem;
    --spacing-9: 1.125rem;
    --spacing-10: 1.25rem;
    --spacing-12: 1.5rem;
    --spacing-14: 1.75rem;
    --spacing-16: 2rem;
    --spacing-18: 2.25rem;
    --spacing-20: 2.5rem;
    --spacing-26: 3.25rem;
    --spacing-32: 4rem;
    --spacing-42: 5.25rem;
    --spacing-68: 8.5rem;
    --spacing-110: 13.75rem;
    --spacing-px: 1px;
    --borderRadius-1: var(--spacing-1);
    --borderRadius-2: var(--spacing-2);
    --borderRadius-3: var(--spacing-3);
    --borderRadius-6: var(--spacing-6);
    --borderRadius-10: var(--spacing-10);
    --borderRadius-full: 100%;
    --borderWidth-2: var(--spacing-1);
    --borderWidth: var(--spacing-px);
    --fontSize-275: 0.6875rem;
    --fontSize-300: 0.75rem;
    --fontSize-325: 0.8125rem;
    --fontSize-350: 0.875rem;
    --fontSize-400: 1rem;
    --fontSize-450: 1.125rem;
    --fontSize-500: 1.25rem;
    --fontSize-550: 1.375rem;
    --fontSize-600: 1.5rem;
    --fontSize-750: 1.875rem;
    --fontSize-800: 2rem;
    --fontSize-900: 2.25rem;
    --fontSize-1000: 2.5rem;
    --lineHeight-300: 0.75rem;
    --lineHeight-400: 1rem;
    --lineHeight-500: 1.25rem;
    --lineHeight-600: 1.5rem;
    --lineHeight-700: 1.75rem;
    --lineHeight-800: 2rem;
    --lineHeight-1000: 2.5rem;
    --lineHeight-1200: 3rem;
    --letterSpacing-densest: calc(-0.54/16 * 1rem);
    --letterSpacing-denser: calc(-0.30/16 * 1rem);
    --letterSpacing-dense: calc(-0.20/16 * 1rem);
    --letterSpacing-normal: calc(0.00/16 * 1rem);
    --letterSpacing-loose: calc(0.20/16 * 1rem);
    --letterSpacing-looser: calc(0.30/16 * 1rem);
    --letterSpacing-loosest: calc(0.54/16 * 1rem);
    --fontWeight-regular: 450;
    --fontWeight-medium: 550;
    --fontWeight-semibold: 650;
    --fontWeight-bold: 700;
    --padding-element-sm: var(--spacing-1);
    --padding-element-md: var(--spacing-2);
    --padding-element-lg: var(--spacing-3);
    --padding-element-xl: var(--spacing-4);
    --padding-element-2xl: var(--spacing-5);
    --padding-element-3xl: var(--spacing-6);
    --padding-group-sm: var(--spacing-1);
    --padding-group-md: var(--spacing-2);
    --padding-group-lg: var(--spacing-3);
    --gap-1: var(--spacing-1);
    --gap-2: var(--spacing-2);
    --gap-3: var(--spacing-3);
    --gap-4: var(--spacing-4);
    --gap-5: var(--spacing-5);
    --gap-6: var(--spacing-6);
    --padding-page: var(--spacing-5);
    --padding-main-t: var(--spacing-10);
    --padding-main-b: var(--spacing-26);


    @media screen and (min-width: 768px) {
      --padding-page: var(--spacing-6);
      --padding-main-t: var(--spacing-16);
      --padding-main-b: var(--spacing-26);
    }

    @media screen and (min-width: 1440px) {
      --padding-page: var(--spacing-10);
      --padding-main-t: var(--spacing-16);
      --padding-main-b: var(--spacing-42);
    }

  }

  .light {
    --borderColor: var(--colors-neutral-300);
    --borderColor-disabled: var(--colors-neutral-200);
    --colors-text: var(--colors-neutral-900);
    --colors-text-secondary: var(--colors-neutral-500);
    --colors-text-disabled: var(--colors-neutral-300);
    --colors-text-inverted: var(--colors-neutral-50);
    --colors-text-inverted-secondary: var(--colors-neutral-400);
    --colors-text-inverted-disabled: var(--colors-neutral-700);
    --colors-text-accent: var(--colors-accent-500);
    --colors-text-accent-on-fill: var(--colors-accent-950);
    --colors-text-accent-on-fill-hover: var(--colors-accent-50);
    --colors-text-accent-on-fill-active: var(--colors-accent-100);
    --colors-text-accent-on-fill-disabled: var(--colors-accent-100);
    --colors-text-success: var(--colors-green-600);
    --colors-text-success-on-fill: var(--colors-green-900);
    --colors-text-warning: var(--colors-yellow-500);
    --colors-text-warning-on-fill: var(--colors-yellow-800);
    --colors-text-critical: var(--colors-red-700);
    --colors-text-critical-on-fill: var(--colors-red-50);
    --colors-icon-default: var(--colors-neutral-600);
    --colors-icon-secondary: var(--colors-neutral-400);
    --colors-icon-disabled: var(--colors-text-disabled);
    --colors-icon-inverted: var(--colors-neutral-400);
    --colors-icon-inverted-secondary: var(--colors-neutral-650);
    --colors-icon-inverted-disabled: var(--colors-text-inverted-disabled);
    --colors-icon-accent: var(--colors-accent-500);
    --colors-icon-accent-on-fill: var(--colors-accent-800);
    --colors-icon-accent-on-fill-hover: var(--colors-icon-accent-on-fill);
    --colors-icon-accent-on-fill-active: var(--colors-icon-accent-on-fill);
    --colors-icon-accent-on-fill-disabled: var(--colors-accent-100);
    --colors-icon-success: var(--colors-green-600);
    --colors-icon-success-on-fill: var(--colors-green-650);
    --colors-icon-warning: var(--colors-yellow-600);
    --colors-icon-warning-on-fill: var(--colors-yellow-600);
    --colors-icon-critical: var(--colors-red-600);
    --colors-icon-critical-on-fill: var(--colors-red-800);
    --colors-background: var(--colors-neutral-50);
    --colors-background-inverted: var(--colors-neutral-900);
    --colors-background-fill: var(--colors-neutral-900);
    --colors-background-fill-hover: var(--colors-neutral-700);
    --colors-background-fill-active: var(--colors-neutral-700);
    --colors-background-fill-selected: var(--colors-neutral-650);
    --colors-background-fill-disabled: var(--colors-neutral-900);
    --colors-background-fill-subtle: var(--colors-neutral-200);
    --colors-background-fill-subtle-hover: var(--colors-neutral-300);
    --colors-background-fill-subtle-active: var(--colors-neutral-400);
    --colors-background-fill-subtle-selected: var(--colors-neutral-500);
    --colors-background-fill-subtle-disabled: var(--colors-neutral-200);
    --colors-background-fill-inverted: var(--colors-neutral-50);
    --colors-background-fill-inverted-hover: var(--colors-neutral-200);
    --colors-background-fill-inverted-active: var(--colors-neutral-200);
    --colors-background-fill-inverted-selected: var(--colors-neutral-300);
    --colors-background-fill-inverted-disabled: var(--colors-neutral-50);
    --colors-background-fill-accent: var(--colors-accent-500);
    --colors-background-fill-accent-hover: var(--colors-accent-600);
    --colors-background-fill-accent-active: var(--colors-accent-600);
    --colors-background-fill-accent-selected: var(--colors-accent-700);
    --colors-background-fill-accent-disabled: var(--colors-accent-100);
    --colors-background-fill-success: var(--colors-green-400);
    --colors-background-fill-warning: var(--colors-yellow-200);
    --colors-background-fill-critical: var(--colors-red-500);
    --colors-background-fill-transparent: var(--colors-black-alpha-0);
    --colors-background-fill-transparent-hover: var(--colors-black-alpha-6);
    --colors-background-fill-transparent-active: var(--colors-black-alpha-11);
    --colors-background-fill-transparent-disabled: var(--colors-black-alpha-0);
    --colors-background-surface: var(--colors-black-alpha-17);
    --colors-background-surface-backdrop: var(--colors-white-alpha-46);
  }

  .dark {
    --borderColor: var(--colors-neutral-700);
    --borderColor-disabled: var(--colors-neutral-800);
    --colors-text: var(--colors-neutral-50);
    --colors-text-secondary: var(--colors-neutral-500);
    --colors-text-disabled: var(--colors-neutral-700);
    --colors-text-inverted: var(--colors-neutral-900);
    --colors-text-inverted-secondary: var(--colors-neutral-600);
    --colors-text-inverted-disabled: var(--colors-neutral-300);
    --colors-text-accent: var(--colors-accent-500);
    --colors-text-accent-on-fill: var(--colors-accent-950);
    --colors-text-accent-on-fill-hover: var(--colors-accent-50);
    --colors-text-accent-on-fill-active: var(--colors-accent-100);
    --colors-text-accent-on-fill-disabled: var(--colors-accent-100);
    --colors-text-success: var(--colors-green-400);
    --colors-text-success-on-fill: var(--colors-green-900);
    --colors-text-warning: var(--colors-yellow-500);
    --colors-text-warning-on-fill: var(--colors-yellow-800);
    --colors-text-critical: var(--colors-red-600);
    --colors-text-critical-on-fill: var(--colors-red-50);
    --colors-icon-default: var(--colors-neutral-400);
    --colors-icon-secondary: var(--colors-neutral-650);
    --colors-icon-disabled: var(--colors-text-disabled);
    --colors-icon-inverted: var(--colors-neutral-600);
    --colors-icon-inverted-secondary: var(--colors-neutral-400);
    --colors-icon-inverted-disabled: var(--colors-text-inverted-disabled);
    --colors-icon-accent: var(--colors-accent-500);
    --colors-icon-accent-on-fill: var(--colors-accent-800);
    --colors-icon-accent-on-fill-hover: var(--colors-icon-accent-on-fill);
    --colors-icon-accent-on-fill-active: var(--colors-icon-accent-on-fill);
    --colors-icon-accent-on-fill-disabled: var(--colors-accent-100);
    --colors-icon-success: var(--colors-green-400);
    --colors-icon-success-on-fill: var(--colors-green-650);
    --colors-icon-warning: var(--colors-yellow-600);
    --colors-icon-warning-on-fill: var(--colors-yellow-700);
    --colors-icon-critical: var(--colors-red-600);
    --colors-icon-critical-on-fill: var(--colors-red-800);
    --colors-background: var(--colors-neutral-900);
    --colors-background-inverted: var(--colors-neutral-50);
    --colors-background-fill: var(--colors-neutral-50);
    --colors-background-fill-hover: var(--colors-neutral-200);
    --colors-background-fill-active: var(--colors-neutral-200);
    --colors-background-fill-selected: var(--colors-neutral-300);
    --colors-background-fill-disabled: var(--colors-neutral-50);
    --colors-background-fill-subtle: var(--colors-neutral-800);
    --colors-background-fill-subtle-hover: var(--colors-neutral-700);
    --colors-background-fill-subtle-active: var(--colors-neutral-700);
    --colors-background-fill-subtle-selected: var(--colors-neutral-600);
    --colors-background-fill-subtle-disabled: var(--colors-neutral-800);
    --colors-background-fill-inverted: var(--colors-neutral-900);
    --colors-background-fill-inverted-hover: var(--colors-neutral-800);
    --colors-background-fill-inverted-active: var(--colors-neutral-800);
    --colors-background-fill-inverted-selected: var(--colors-neutral-700);
    --colors-background-fill-inverted-disabled: var(--colors-neutral-900);
    --colors-background-fill-accent: var(--colors-accent-500);
    --colors-background-fill-accent-hover: var(--colors-accent-600);
    --colors-background-fill-accent-active: var(--colors-accent-600);
    --colors-background-fill-accent-selected: var(--colors-accent-700);
    --colors-background-fill-accent-disabled: var(--colors-accent-100);
    --colors-background-fill-success: var(--colors-green-400);
    --colors-background-fill-warning: var(--colors-yellow-300);
    --colors-background-fill-critical: var(--colors-red-500);
    --colors-background-fill-transparent: var(--colors-white-alpha-0);
    --colors-background-fill-transparent-hover: var(--colors-white-alpha-6);
    --colors-background-fill-transparent-active: var(--colors-white-alpha-11);
    --colors-background-fill-transparent-disabled: var(--colors-white-alpha-0);
    --colors-background-surface: var(--colors-white-alpha-17);
    --colors-background-surface-backdrop: var(--colors-black-alpha-46);
  }

}