@import "../../../styles/colours.scss";
@import "../../../styles/typo.scss";
@import "../../../styles/sizes.scss";

.transformations {
  &__wrapper {
    color: #8a8480;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row-gap: $s1;
    grid-column-gap: $s2;
    position: relative;
    z-index: 0;
  }
  &__label,
  &__input {
    grid-column: 1 / 2;
  }
  &__label {
    grid-row: 1 / 2;
    font-size: 0.8125rem;
    letter-spacing: calc(0.2 / 13 * 1em);
    text-align: right;
    line-height: 1rem;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
  }
  &__input {
    grid-row: 2 / 3;
    outline: 0;
    display: inline-block;
    flex: 1;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: calc(0.2 / 16 * 1rem);
    text-align: right;
    line-height: 1.5rem;
  }
  &__icon {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    cursor: pointer;
  }

  &__wrapper[data-hasvalue="false"] {
    .transformations {
      &__input {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
      &__label {
        transform: translateY(1.5rem);
      }
    }
  }

  &__wrapper:hover {
    .transformations {
      &__label {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
