@use "../../styles/sizes" as s;
@use "../../styles/colours" as c;
@use "../../styles/layers" as l;

.modal {
  color: var(--text-primary);
}

.modal > div {
  background-color: var(--bg-primary);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  min-width: 24rem;
  min-height: 8rem;
  overflow: hidden;
  border-radius: 0.875rem;
  box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px,
    rgb(14 18 22 / 20%) 0px 10px 20px -15px;
}