@use '../../../../styles/sizes' as sizes;

.recipe__header__toolbar__undo-redo {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &:before {
    content: '';
    width: calc(100% + .25rem);
    height: calc(100% + .25rem);
    position: absolute;
    left: -.125rem;
    top: -.125rem;
    border-radius: .25rem;
    z-index: 0;
  }

  &, .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .icon {
    fill: var(--text-primary);
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 1;
  }
  &:disabled {
    opacity: 0.4;
  }

  &:focus-visible {
    &:before {
      box-shadow: 0 0 0 .0625rem inset var(--text-primary);
    }
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        background-color: var(--bg-secondary);
      }
    }
  }
}