:root {
  --black: #211e20;
  --white: #fff;
  --grey-96: #f7f6f5;
  --grey-91: #efdfdf;
  --grey-82: #d4d1ce;
  --grey-63: #a6a19b;
  --grey-52: #8a8480;
  --grey-31: #544f4a;
  --grey-24: #3f3c3a;
  --accent: #f5853f;
  --accent-15: #feede2;
  --border: var(--grey-91);
  --contrast: #3daef5;
  --success: #c0ee6a;
  --error: #ee7e6a;
  --text-primary: var(--black);
  --text-secondary: var(--grey-52);
  --bg-primary: var(--white);
  --bg-secondary: var(--grey-96);
  --border: var(--grey-91);
}

body.dark {
  --text-primary: var(--white);
  --text-secondary: var(--grey-63);
  --bg-primary: var(--black);
  --bg-secondary: var(--grey-24);
  --border: var(--grey-31);
}

@font-face {
  font-family: "Soehne Breit";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-buch.eot) format("embedded-opentype");
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-buch.eot#iefix) format("embedded-opentype"), url(/assets/fonts/sohnebreit/soehne-breit-web-buch.woff2) format("woff2"), url(/assets/fonts/sohnebreit/soehne-breit-web-buch.woff) format("woff");
}
@font-face {
  font-family: "Soehne Breit";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.eot) format("embedded-opentype");
  src: url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.woff2) format("woff2"), url(/assets/fonts/sohnebreit/soehne-breit-web-kraftig.woff) format("woff");
}
[contenteditable=true] {
  outline: 0;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
  cursor: text;
}

.recipe__section {
  height: calc(100% - 2rem);
  overflow: hidden;
  position: relative;
}
.recipe__section__scrollwindow {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: auto 1fr;
  /* width */
  /* Track */
  /* Handle */
}
.recipe__section__scrollwindow::-webkit-scrollbar {
  width: 0.625rem;
}
.recipe__section__scrollwindow::-webkit-scrollbar-track {
  background: transparent;
}
.recipe__section__scrollwindow::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}
.recipe__section__scrollwindow::-webkit-scrollbar-thumb, .recipe__section__scrollwindow::-webkit-scrollbar-thumb:hover {
  border: 0.1875rem solid transparent;
  background-clip: content-box;
  border-radius: 0.5rem;
}
.recipe__section__scrollwindow::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
.recipe__section#recipe__method {
  padding-right: 5.25rem;
}

.recipe__editor {
  --width: 5rem;
}
.recipe__editor--ingredients, .recipe__editor--method {
  position: relative;
}
.recipe__editor--ingredients .ProseMirror, .recipe__editor--method .ProseMirror {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recipe__editor--ingredients .ProseMirror[contenteditable=false] dragthumb, .recipe__editor--method .ProseMirror[contenteditable=false] dragthumb {
  display: none;
}
.recipe__editor--ingredients .ProseMirror:empty, .recipe__editor--method .ProseMirror:empty {
  position: relative;
  padding-left: 1.5rem;
}
.recipe__editor--ingredients .ProseMirror:empty:before, .recipe__editor--ingredients .ProseMirror:empty:after, .recipe__editor--method .ProseMirror:empty:before, .recipe__editor--method .ProseMirror:empty:after {
  cursor: text;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0142857143em;
  line-height: 1rem;
  height: 1rem;
  margin-bottom: 0.75rem;
  opacity: 0.5;
}
.recipe__editor--ingredients .ProseMirror [data-dragging=true], .recipe__editor--method .ProseMirror [data-dragging=true] {
  opacity: 0;
  pointer-events: none;
}
.recipe__editor--ingredients .ProseMirror:empty:before {
  content: "Ingredient";
}
.recipe__editor--method .ProseMirror:empty {
  margin-left: 1.5rem;
  padding-left: 1.25rem;
}
.recipe__editor--method .ProseMirror:empty:before, .recipe__editor--method .ProseMirror:empty:after {
  display: inline-block;
}
.recipe__editor--method .ProseMirror:empty:before {
  position: absolute;
  top: 0;
  height: 1rem;
  content: "1";
  cursor: text;
  font-weight: 600;
  left: 0;
  opacity: 1;
}
.recipe__editor--method .ProseMirror:empty:after {
  content: "First step ...";
  cursor: text;
  opacity: 0.5;
}
.recipe__editor--method .ProseMirror:empty .method__item {
  min-height: 1rem;
}
.recipe__editor--ingredients, .recipe__editor--method {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tool {
  list-style: none;
}

.context {
  z-index: 3;
  position: absolute;
  background-color: transparent;
}
.context, .context__menu {
  border: 0;
  padding: 0;
}
.context__menu {
  z-index: 50;
  position: fixed;
  background-color: #feede2;
  padding: 0.375rem;
  border-radius: 0.25rem;
  transform: translate(1.5rem, calc(-100% - 1.5rem));
  display: none;
  width: var(--width);
}
.context__tool {
  border: 0;
  background-color: transparent;
  outline: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  flex: none;
  display: block;
  transition: opacity 75ms ease-out;
}
.context__tool:focus-visible {
  transition-duration: 100ms;
  opacity: 0.75;
}
@media (hover: hover) {
  .context__tool:hover {
    transition-duration: 100ms;
    opacity: 0.75;
  }
}
.context__tool[data-type=toggleheader] {
  opacity: 0.4;
}
.context__tool[data-type=toggleheader][data-active=true] {
  opacity: 1;
}
.context__icon {
  fill: #f5853f;
  display: block;
  flex: none;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.context__icon--toggleheader {
  width: 1rem;
  height: 1rem;
  transition: fill 75ms ease-out;
}
.context#ingredients__translateunit {
  left: 0;
  top: 0;
  display: none;
  transform: translate(-50%, 0.5rem);
  padding: 0.25rem;
  font-size: 0.8125rem;
  letter-spacing: 0.0076923077em;
  background-color: var(--bg-primary);
  border: 1px solid;
  padding: 0.25rem;
  border-radius: 0.375rem;
  color: var(--text-primary);
}
.context#ingredients__translateunit li {
  line-height: 1.25;
  padding: 0.125rem 0.75rem;
  padding-left: 1.25rem;
  border-radius: 0.25rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.context#ingredients__translateunit li .icon {
  --icon: 0.875rem;
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text-primary);
  width: var(--icon);
  height: var(--icon);
}
.context#ingredients__translateunit li[data-selected=true] {
  color: var(--accent);
}
.context#ingredients__translateunit li[data-selected=true] .icon {
  fill: var(--accent);
}
.context#ingredients__translateunit li:focus-visible {
  background-color: #f5853f;
  color: #fff;
}
.context#ingredients__translateunit li:focus-visible .icon {
  fill: #fff;
}
@media (hover: hover) {
  .context#ingredients__translateunit li:hover {
    background-color: #f5853f;
    color: #fff;
  }
  .context#ingredients__translateunit li:hover .icon {
    fill: #fff;
  }
}
.context#ingredients__translateunit.show {
  display: inline-block;
}

.recipe__editor.focus .context__menu {
  display: block;
}/*# sourceMappingURL=MainSection.css.map */